<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="">
</head>
<body>
{{#users}}
<h1>{{name}}</h1>
<div>{{email}}</div>
{{/users}}
</body>
</html>